<h1>Add Cat</h1>
<form action = "<%=cats_url%>" method = "POST" >
<label for = "name"> Name </label>
<input id = "name" name = "cat[name]"> 
<label for = "color"> Color </label>
<input id = "color" name = "cat[color]">
<input type = "submit" value = "Add Cat">


</form>
